<% if @todo.errors.any? %>
  <h2>The following erros prevented the todo from being saved:</h2>
  <ul>
    <% @todo.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
<%= form_for @todo do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
  
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to "Back to all Todos", todos_path %>