<h1>Showing a Todo</h1>

<p>
  Name: <%= @todo.name %>
</p>
<p>
  Description: <%= @todo.description %>
</p>

<%= link_to "Edit this Todo", edit_todo_path(@todo) %>
<%= link_to "Back to all Todos", todos_path %>